<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: headerFragment('Home')"></title>
		
		<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
		<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
	</head>
	
	<body>
		<nav th:replace = "fragments/fragment :: navbar"></nav>
		<div class = "container-fluid">	
			<h1>Sistem Informasi Kepegawaian</h1>
			<h4>Selamat datang di Sistem Informasi Kepegawaian</h4>
			<hr>
			<h4>Lihat Data Berdasarkan NIP</h4>
			<div class = "row">
				<div class = "col-md-6">
					<div class = "card">
						<div class = "card-header">
							Masukkan Nomor Induk Pegawai
						</div>
						<div class = "card-body">
							<form th:action="@{/pegawai}" method="GET">
								<input type="text" name="nip" class="form-control"/><br>
								<button type="submit" class="btn btn-success">Lihat</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class = "row">
				<div class = "col-md-6">
					<div class = "card">
						<div class = "card-header">
							Lihat Detail Jabatan
						</div>
						<div class = "card-body">
							<form th:action="@{/jabatan/view}" method = "GET">
								<select name = "jabatanId">
									<option th:each = "jabatan : ${listJabatan}"
											th:value = "${jabatan.id}"
											th:text = "${jabatan.nama}"></option>
								</select><br><br>
								<button type = "submit" class = "btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>