<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: headerFragment('Ubah Jabatan')"></title>
		
		<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
		<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
	</head>
	<style> 
		
	</style>
	<body>
		<nav th:replace = "fragments/fragment :: navbar"></nav>
		<br>	
		<div class = "container">
		<h2>Ubah Jabatan</h2>
		<hr>
		<form th:action="@{/jabatan/ubah}" th:object=${jabatan} method = "POST">
			<table>
				<input type="hidden" th:value="${jabatan.id}" name="id" />
				<tr>
					<td>Nama</td>
					<td><input type="text" name="nama" th:value = "${jabatan.nama}" class="form-control"/></td>
				</tr>
				<tr>
					<td>Deskripsi</td>
					<td><input type="text" name="deskripsi" th:value = "${jabatan.deskripsi}" class="form-control"/></td>
				</tr>
				<tr>
					<td>Gaji Pokok</td>
					<td><input type="number" name="gaji_pokok" th:value = "${jabatan.gaji_pokok}" class="form-control"/></td>
				</tr>
	            <tr>
	                <td><button type="submit" class="btn btn-primary">Ubah</button><td>
	            </tr>
			</table>
		</form>
		</div>
	</body>
</html>