<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: headerFragment('Lihat Pegawai tertua dan termuda')"></title>
		
		<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
		<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
	</head>
	
	<style>
		table, td, th {    
		    border: 1px solid #ddd;
		    text-align: left;
		}
		
		table {
		    border-collapse: collapse;
		    width: 100%;
		}
		
		th, td {
		    padding: 15px;
		}
	</style>
	
	<body>
		<nav th:replace = "fragments/fragment :: navbar"></nav>
		<br>
		<div class = "container">
		<h1>Pegawai Tertua dan Termuda</h1>
		<hr>
		<br>
		<h3>Pegawai Tertua</h3>
		<table>
			<tr>
				<td>NIP</td>
				<td th:text="${pegawaiTertua.nip}"></td>
			</tr>
			<tr>
				<td>Nama</td>
				<td th:text="${pegawaiTertua.nama}"></td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td th:text="${pegawaiTertua.tempat_lahir}"></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td th:text="${pegawaiTertua.tanggalLahir}"></td>
			</tr>
			<tr>
				<td>Tahun Masuk</td>
				<td th:text="${pegawaiTertua.tahun_masuk}"></td>
			</tr>
			<tr>
				<td>Nama Instansi</td>
				<td th:text="${pegawaiTertua.instansi.nama} + ' - ' + ${pegawaiTertua.instansi.provinsi.nama}"></td>
			</tr>
			<!-- <tr>
				<td>Jabatan</td>	
				<td>
				<th:block th:each="jabatan : ${jabatanPegawai}">
					<ul>
						<li><p th:text="${jabatan.jabatan.nama}"></p></li>
					</ul>
							
				</td>
			</tr> -->
				
		</table>
		
		<br>
		<h3>Pegawai Termuda</h3>
		<table>
			<tr>
				<td>NIP</td>
				<td th:text="${pegawaiTermuda.nip}"></td>
			</tr>
			<tr>
				<td>Nama</td>
				<td th:text="${pegawaiTermuda.nama}"></td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td th:text="${pegawaiTermuda.tempat_lahir}"></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td th:text="${pegawaiTermuda.tanggalLahir}"></td>
			</tr>
			<tr>
				<td>Tahun Masuk</td>
				<td th:text="${pegawaiTermuda.tahun_masuk}"></td>
			</tr>
			<tr>
				<td>Nama Instansi</td>
				<td th:text="${pegawaiTermuda.instansi.nama} + ' - ' + ${pegawaiTermuda.instansi.provinsi.nama}"></td>
			</tr>
			<!-- <tr>
				<td>Jabatan</td>	
				<td>
				<th:block th:each="jabatan : ${jabatanPegawai}">
					<ul>
						<li><p th:text="${jabatan.jabatan.nama}"></p></li>
					</ul>
							
				</td>
			</tr> -->
				
		</table>
		</div>
	</body>
</html>