<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: headerFragment('Lihat Jabatan')"></title>
		
		<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
		<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
	</head>
	
	<style>
		table, td, th {    
		    border: 1px solid #ddd;
		    text-align: left;
		}
		
		table {
		    border-collapse: collapse;
		    width: 100%;
		}
		
		th, td {
		    padding: 15px;
		}
	</style>
	
	<body>
		<nav th:replace = "fragments/fragment :: navbar"></nav>
		<br>
		<div class = "container">
		<h3 th:text = "'Lihat Jabatan ' + ${jabatan.nama} "></h3>
		<br>
		<table>
			<tr>
				<td>Nama</td>
				<td th:text="${jabatan.nama}"></td>
			</tr>
			<tr>
				<td>Deskripsi</td>
				<td th:text="${jabatan.deskripsi}"></td>
			</tr>
			<tr>
				<td>Gaji Pokok</td>
				<td th:text="${jabatan.gaji_pokok}"></td>
			</tr>
			
		</table>
		<br>
		<form th:action="@{/jabatan/ubah}" name=getJabatan method = "GET">
			<input type="hidden" th:value="${jabatan.id}" name="jabatanId" />
			<button type = "submit" class = "btn btn-primary"> Ubah Jabatan</button>
		</form>
		<br>
		<form th:action="@{/jabatan/hapus}" th:object = "${jabatan}" name=getJabatan method = "POST">
			<input type="hidden" th:value="${jabatan.id}" name="jabatanId" />
			<button type = "submit" class = "btn btn-danger"> Hapus Jabatan</button>
		</form>

		</div>
	</body>
</html>